:root {
  font-family: "Montserrat";
  color: white;
  background: black;
  --completed: 90;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

#scrollBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 0;
  background: linear-gradient(to top, #0d7377, #14ffec);
  animation: animate 5s linear infinite;
  z-index: 10;
}
@keyframes animate {
  0%,
  100% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(2);
  }
}

#scrollBar::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #0d7377, #14ffec);
  filter: blur(10px);
}
#scrollBar::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #0d7377, #14ffec);
  filter: blur(20px);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(img/name.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-attachment: fixed;
}

.glitch-box {
  position: absolute;
  background: url(img/name.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 20vh;
}

.hr hr {
  width: 40vw;
  box-shadow: 0px 0px 30px 2px white;
}

.hr.hr-1 {
  margin-top: -10vh;
}

.presentation {
  padding: 50px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80vw;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem;
}

.presentation .box {
  border-bottom: solid 1px white;
  box-shadow: 0px 5px 5px -5px #888;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentation .box p {
  text-align: justify;
}

.presentation .box p a {
  text-decoration: none;
  color: white;
}

.progress {
  width: 100vw;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress h1 {
  position: relative;
}

.progress .percent {
  padding: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress .percent svg {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px white, 0 0 20px white;
}

.progress .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.progress .percent .number span {
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.5s;
}

.progress .percent:hover .number span {
  font-size: 3rem;
}

.progress .percent svg circle {
  height: 100%;
  width: 100%;
  fill: none;
  stroke: grey;
  stroke-width: 20px;
  stroke-linecap: round;
  transform-origin: 100px 100px;
  transform: translate(10px, 10px) rotate(-85deg);
}

.progress .percent svg circle:nth-child(2) {
  stroke-dasharray: 610;
  stroke-dashoffset: calc(610 - (610 * var(--completed)) / 100);
  stroke: white;
}

.container {
  width: 90%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
  padding-bottom: 50px;
}

.container .card {
  position: relative;
  padding: 0;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  background: black;
  box-shadow: 0 15px 60px #14ffec88;
}

.container .card.unactive {
  box-shadow: 0 15px 60px #ff141488;
}

.container .card .face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card .face.face1 h1 {
  font-size: 1.5rem;
  position: absolute;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 5px black;
  height: auto;
}

.container .card .face.face1 img {
  width: 100%;
}

.container .card .face.face2 {
  background: linear-gradient(45deg, #14ffec, #0d7377);
  transition: all 0.5s;
}

.container .card.unactive .face.face2 {
  background: linear-gradient(45deg, #ff1414, #770d0d);
  transition: all 0.5s;
}

.container .card .face.face2::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #ffffff16;
}

.container .card:hover .face.face2 {
  height: 20%;
}

.container .card.unactive:hover .face.face2 {
  height: inherit;
}

.container .card .face.face2 h1 {
  margin: 0;
  padding: 0;
  font-size: 5rem;
  transition: all 0.5s;
}

.container .card.unactive .face.face2 h1 {
  color: black;
}

.container .card:hover .face.face2 h1 {
  font-size: 2rem;
}

.container .card.unactive:hover .face.face2 h1 {
  font-size: 5rem;
}